{% extends "braingames/basegame.jinja" %}

{% block page_title %}mozilla braingames - Demo game 2{% endblock %}

{% block header %}
  <script src="{{ gamestatic('js/hello.js') }}"></script>
{% endblock %}

{% block game_script %}
  {% include 'example-game-2/game.js' %}
{% endblock %}
