{% extends "braingames/base.jinja" %}

{% block header %}
  {{ super() }}
  <link href="{{ static('css/jspsych.css') }}" rel="stylesheet" />
  <script src="{{ static('js/jquery.js') }}"></script>
  <script src="{{ static('js/jspsych.js') }}"></script>
{% endblock %}

{% block body %}
  <script>
    {% block game_script %}
    {% endblock %}
  </script>
{% endblock %}
